* {
  font-family: "Times New Roman", Times, serif;
}

body {
  background-image: url("../css/Website.jpeg");
  background-size: cover;
}

header {
  display: flex;
  font-size: 46pt;
  background-color: white;
  font-weight: 700;
  font-family: "Times New Roman", Times, serif;
  word-spacing: 45px;
  flex-wrap: wrap;
  justify-content: space-between;
}

a {
  font-weight: 700;
  font-family: "Times New Roman", Times, serif;
}
nav {
  width: 500px;
}
.boxes {
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  margin: 20px;
  justify-content: center;
}
.work {
  width: 45%;
  margin: 2pt;
  background-color: rgb(57, 167, 211);
  font-size: 20pt;
}

nav ul {
  font-size: 20pt;
  display: flex;
  justify-content: space-around;
  margin-top: 0px;
  padding: 6px;
  border: 0px;
  background-color: rgb(57, 167, 211);
  font-weight: 400;
}

article {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-wrap: wrap;
  margin: 30px;
  padding: 30px;
  font-size: 22pt;
  color: rgb(9, 9, 9);
}
h3 {
  display: flex;
  width: 500px;
}
.cards {
  display: flex;
  justify-content: center;
  height: auto;
  width: auto;
  font-size: 40pt;
  font-weight: 700;
  color: black;
}
.contact {
  display: flex;
  justify-content: space-around;
  background-color: white;
  height: 300px;
  font-size: 25pt;
  padding-top: 60px;
}
.type {
  margin-top: 10pt;
}
.imgcss {
  width: 190px;
 height: 120px
